[user]
	email = nikita.vanyasin@gmail.com
	name = Nikita Vanyasin
[github]
	user = nikita-vanyasin
[credential]
	helper = store
[push]
	default = upstream
[core]
	autocrlf = input
[http]
	cookiefile = /home/nikita/.gitcookies


